CREATE DATABASE [AttendanceDB]
USE [AttendanceDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 12/1/2025 12:44:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](20) NULL,
	[subject] [varchar](50) NULL,
	[date] [date] NULL,
	[is_present] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/1/2025 12:44:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[subject] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 12/1/2025 12:44:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[subject] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([record_id], [student_id], [subject], [date], [is_present]) VALUES (1, N'Binura', N'Tech', CAST(N'2025-12-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
INSERT [dbo].[Students] ([id], [name], [subject]) VALUES (N'Binura', N'2004', N'Tech')
GO
INSERT [dbo].[Teachers] ([username], [password], [subject]) VALUES (N'Chamath', N'2004', N'Tech')
INSERT [dbo].[Teachers] ([username], [password], [subject]) VALUES (N'owner', N'123', N'Admin')
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([id])
ON DELETE CASCADE
GO
